@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --background-1: #45050c;
    --background-2: #720e07;
    --primary: #000000;
}

body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

@keyframes on-hover {
    0% {
        transform: scale(100%);
    }
    6% {
        transform: scale(105%);
    }
    12% {
        transform: scale(100%);
    }
    18% {
        transform: scale(105%);
    }
    25% {
        transform: scale(100%);
    }
    100% {
        transform: scale(100%);
    }
}

body {
    animation: background-pan 10s linear infinite;
    background: linear-gradient(
        to right,
        var(--background-2),
        var(--background-1),
        var(--background-2)
    );
    background-attachment: fixed;
    overflow: hidden;
    background-size: 200%;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: var(--primary);
}

a,
p {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: var(--primary);
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    white-space: nowrap;
}

p {
    font-size: 1.2em;
}

em {
    text-decoration: none;
    color: white;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 1.5em;
}

.favicon {
    width: 2.5em;
}

.content {
    display: inline-block;
    transition: filter 0.5s, color 0.5s;
}

.content:hover {
    animation: on-hover 1s linear infinite;
    transition: filter 0.5s, color 0.5s;
}

.content:hover .favicon {
    filter: invert();
}

.content:hover a {
    color: white;
}

#socials {
    display: flex;
    gap: 1.5em;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-span {
    position: relative;
}

.hidden-image {
    width: 0;
    transition: left 0.2s, top 0.2s, width 0.1s;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
}

.img-span:hover .hidden-image {
    display: block;
    transition: left 0.2s, top 0.2s, width 0.1s;
    filter: none;
    z-index: 0;
}

#name .img-span:hover .hidden-image {
    top: -200%;
    left: 200%;
    width: 8em;
}

#insa .img-span:hover .hidden-image {
    top: 700%;
    left: -1050%;
    width: 18em;
}

#twitter .img-span:hover .hidden-image {
    top: 200%;
    left: 600%;
    width: 15em;
    border-radius: 5%;
}

#instagram .img-span:hover .hidden-image {
    top: -1500%;
    left: -1000%;
    width: 15em;
    border-radius: 5%;
}

#thelastdrop .img-span:hover .hidden-image {
    top: -1000%;
    left: -450%;
    width: 25em;
}

a {
    text-decoration: none;
}

@media screen and (max-device-width: 480px) {
    #wrapper {
        gap: 2vh;
    }

    .img-span:hover .hidden-image {
        display: none;
    }

    .content:hover {
        animation: none;
        transition: none;
    }
}
