@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

:root {
  --background-1: #49b6ff;
  --background-2: #ff499e;
  --background-3: #ffffff;
  --red: #ff0900;
  --orange: #ff7f00;
  --yellow: #ffef00;
  --green: #00f11d;
  --blue: #0079ff;
  --purple: #a800ff;
  --primary: #000000;
}

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

@keyframes on-hover {
  0% {
    transform: scale(100%);
  }
  6% {
    transform: scale(105%);
  }
  12% {
    transform: scale(100%);
  }
  18% {
    transform: scale(105%);
  }
  25% {
    transform: scale(100%);
  }
  100% {
    transform: scale(100%);
  }
}

body {
  /* animation: background-pan 20s linear infinite; */
  background: linear-gradient(
    to right,
    var(--background-2),
    var(--background-1)
  );
  background-attachment: fixed;
  overflow: hidden;
  background-size: 100%;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  color: var(--primary);
}

a,
p {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  color: var(--primary);
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  text-shadow: 2px 2px 0px #ffffff;
}

p {
  font-size: 1.5em;
}

em {
  text-decoration: none;
  color: white;
}

main {
  height: 100vh;
}

.blur {
  height: 250%;
  width: 250%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  backdrop-filter: blur(15px);
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#grid-wrapper {
  display: grid;
  
}

.favicon {
  width: 2.5em;
  filter: drop-shadow(2px 2px 0px #ffffff);
}

.content {
  display: inline-block;
  transition: filter 0.5s, color 0.5s;
}

.content:hover {
  animation: on-hover 1s linear forwards;
  transition: filter 0.5s, color 0.5s;
}

.content:hover .favicon {
  filter: invert();
}

.content:hover a {
  color: white;
}

#name {
  font-size: 5rem;
  font-family: 'Shrikhand', cursive;
  letter-spacing: 0.15ch;
  font-weight: bold;
}

#socials {
  display: flex;
  gap: 1.5em;
}

.project {
  width: 50px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.project:nth-of-type(1) {
}
.project:nth-of-type(2) {
}
.project:nth-of-type(3) {
}
.project:nth-of-type(4) {
}
.project:nth-of-type(5) {
}
.project:nth-of-type(6) {
}

a {
  text-decoration: none;
  font-size: 1.2em;
}

@media screen and (max-device-width: 480px) {
  body {
    background: linear-gradient(
      to bottom,
      var(--background-2),
      var(--background-1)
    );
  }
  
  #wrapper {
    gap: 2vh;
  }

  .img-span:hover .hidden-image {
    display: none;
  }

  .content:hover {
    animation: none;
    transition: none;
  }
}
